<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Ops! ha ocurrido un error.</h3>
    <p>
        {{mensajeError}}
    </p>
</div>

<app-tarjetas [items]='nuevasCanciones'></app-tarjetas>