<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>

    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
            Ir a la página del artista
          </a>
        </p>
    </div>

    <div class="col-4 text-center">
        <button [routerLink]="['/search']" routerLinkActive="router-link-active" class="btn btn-outline-danger btn-sm">Regresar</button>
    </div>
</div>

<div class="row m-5 animated fadeIn" *ngIf="!loading">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topTrack of topTracks">
                    <td>
                        <img [src]="topTrack.album.images | noimage" [alt]="topTrack.name" class="img-thumb">
                    </td>
                    <td>{{ topTrack.album.name }}</td>
                    <td>{{ topTrack.name }}</td>
                    <td>
                        <iframe [src]="topTrack.id | domseguro: 'https://open.spotify.com/embed/track/'" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>